body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.nexus {
    width: 100px; 
    height: 100px; 
    background-color: red;
}
div.player{
    width: 100px; 
    height: 100px; 
    background-color: blue;
    position: absolute;
    bottom: 0;
}